HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
libs/**
bin/
.mvn/

# Package Files #
*.jar
*.war
*.ear
*.ids

# logs
/stacktrace.log
/test/reports
/logs
*.log
*.log.*

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.externalToolBuilders
#multi
**/.apt_generated
**/.classpath
**/.factorypath
**/.project
**/.settings
**/.springBeans
**/.sts4-cache
**/logs
**/target/
**/.DS_Store
**/.externalToolBuilders

## .gitignore for intellij
*.iml
*.ipr
*.iws
*.ids
.idea/

## .gitignore for eclipse
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.DS_Store
